name: hello-world
on: push
  schedule:
    - cron: '0 3 * * 0'
  workflow_dispatch:
jobs: 
  hello-world-job:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "$(cat hello_world.txt)"
