name: CICD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run Python script
        run: |
          python hello_world.py
      - name: Serve HTML file
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: main

      - name: Velocity deploy action
  # You may pin to the exact commit or the version.
  # uses: codeclimate/velocity-deploy-action@1b4a22f0db113bf8d85c14fd726cf0ec6d17cd13
        uses: codeclimate/velocity-deploy-action@v1.0.0
      with:
    # Your Velocity deployment token
      token: 
    # The version tag for the deploy (i.e. `b123`)
      version: # optional
    # The environment of the deploy (i.e. `production`)
      environment: # optional
          
